/* Your code here */
ul {
    list-style-type: disc;
  }

  @media (max-width: 1200px) {
    .secondary-column {
      display: none;
    }
  
    .primary-column {
      width: 100%;
    }
  }

  